.post-layout {
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    max-width: 100vw;
  }
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    max-width: 60vw;
  }
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  grid-gap: 0.5rem;
  margin-bottom: 2rem;
  @media only screen and (max-width: 1120px) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 0.5rem;
  }
  div {
    padding: 0 1.5rem 0 0;
    margin: 1rem 0 0rem 0;
    span {
      ul {
        margin-bottom: 0;
      }
    }
  }
}

.image-container {
  // max-width: 90%;
  min-width: 210px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 15px 15px 0 15px;
  box-shadow: 0px 0px 15px 0px #e9e9e9;

  div {
    display: block !important;
  }

  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.portrait-container {
  // max-width: 500px;
  max-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 15px 15px 0 15px;
  box-shadow: 0px 0px 15px 0px #e9e9e9;

  div {
    display: block !important;
  }

  img {
    height: 80vh;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.caption-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.photography {
  max-height: 700px;
  display: block;
  margin: 1rem auto 1rem auto;
}

.post {
  //project title
  h1 {
    font-weight: bold;
    font-size: 2.4rem;
  }

  //section header
  h2 {
    font-weight: bold;
    font-size: 2rem;
  }

  //section header
  h3 {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  //author quote
  h4 {
    font-size: 1.3rem;
  }

  //spacing between sections
  h5 {
    font-size: 1.15rem;
  }

  //rest of the text
  p {
    font-size: 1rem;
  }

  .annotation {
    font-size: 0.65rem;
  }

  .caption {
    font-size: 0.85rem;
    text-align: center;
    margin-top: 0.7rem;
    padding-bottom: 1rem;
  }

  //quote formatting

  .quote-div {
    position: relative;
    max-width: 500px;
    display: block;
    margin: 5% auto 10% auto;
  }

  .mb-style-2 {
    blockquote {
      padding-top: 150px;

      p {
        background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
        box-shadow: 0 -6px 0 rgba(72, 149, 234, 0.2);
        color: rgba(72, 149, 234, 0.8);
        display: inline;
        font-family: Georgia, serif;
        font-style: italic;
        font-size: 1.6rem;
        line-height: 2.8rem;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
      }

      &:after {
        background: none repeat scroll 0 0 rgba(72, 149, 234, 0.8);
        border-radius: 50% 50% 50% 50%;
        color: rgba(255, 255, 255, 0.5);
        content: "âž";
        font-family: "icons";
        font-size: 70px;
        height: 110px;
        width: 110px;
        left: 50%;
        line-height: 130px;
        margin-left: -65px;
        position: absolute;
        text-align: center;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
        top: 0;
      }

      &:before {
        border-left: 5px solid rgba(72, 149, 234, 0.1);
        border-radius: 50% 50% 50% 50%;
        content: "";
        height: 105%;
        left: -40px;
        position: absolute;
        top: 0;
        width: 20%;
        z-index: -1;
      }
    }
  }
}

.wrapper {
  display: grid;
  // grid-template-columns: repeat(2, 1fr 80px) 1fr;
  grid-template-columns: 2fr 80px 1fr 80px 1fr;
  column-gap: 20px;
  grid-auto-rows: auto;

  @media only screen and (max-width: 650px) {
    display: block;
  }

  * {
    // background-color: lavender;
    margin-top: auto 0 auto 0;

    @media only screen and (max-width: 650px) {
      // margin: 0 auto 0 auto !important;
      text-align: center;
      display: block;
      margin: 0 auto 0 auto;
      align-self: center;
    }
  }

  p {
    margin-bottom: 0;
  }

  img {
    @media only screen and (max-width: 650px) {
      max-width: 75%;
    }
  }

  .other-image {
    border-radius: 1rem;
    border: solid 3px darkgrey;
  }
}

.icon {
  max-width: 5rem !important;
  // margin: 0 20% 0 20%;
  @media only screen and (max-width: 650px) {
    margin: 0 auto 0 auto;
  }
}

.header-div {
  p {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    @media only screen and (max-width: 650px) {
      margin: 1rem 0 1rem 0;
    }
  }
}

.grid-with-icons-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  column-gap: 2.5%;
  row-gap: 0.8rem;
  text-align: center;
  margin-bottom: 2rem;

  @media only screen and (max-width: 650px) {
    display: block;
    padding: 0 20% 0 20%;
  }

  * {
    // background-color: lavender;
    margin-top: auto 0 auto 0;
  }

  p {
    margin-bottom: 0;
  }

  .icon {
    max-width: 5rem;
    margin-top: auto;
  }

  .other-image {
    border-radius: 1rem;
    border: solid 3px darkgrey;
  }

  .content-div {
    p:first-child {
      font-weight: bold;
      font-size: 1.5rem;
      margin-bottom: 0.2rem;

      @media only screen and (max-width: 650px) {
        margin-bottom: 0rem;
      }
    }
    @media only screen and (max-width: 650px) {
      margin-bottom: 1rem;
    }
  }
}

.arrow {
  margin: auto 0 auto 0;
  width: 100%;
  height: 2.3rem;
  background-position: top;
  background-repeat: no-repeat;

  @media only screen and (max-width: 600px) {
    background-image: url("../images/arrow_down.png") !important;
    background-size: contain;
    min-height: 5rem;
    margin-top: 1rem;
  }
}

.pain-point-grid {
  display: grid;
  grid-template-columns: 25% 40% 15% 20%;
  column-gap: 0.5%;
  div {
    // background-color: pink;
  }

  img {
    z-index: -1;
  }
}

.speech-bubble {
  background: #fff;
  border: 5px solid #85cbcf;
  border-radius: 20px;
  margin: 0 auto 40px;
  max-width: 400px;
  padding: 15px;
  position: relative;

  p {
    font-size: 0.9rem;
    margin-bottom: 0px;
  }
}

.speech-bubble-arrow-right {
  border-left: 21px solid transparent;
  bottom: -25px;
  position: absolute;
  right: 15px;

  &::before {
    border-left: 30px solid transparent;
    border-top: 27px solid #85cbcf;
    bottom: -5px;
    content: "";
    position: absolute;
    right: 2px;
  }
  &::after {
    border-left: 21px solid transparent;
    border-top: 21px solid #fff;
    bottom: 4px;
    content: "";
    position: absolute;
    right: 6px;
  }
}

.speech-bubble-arrow-left {
  border-left: 21px solid transparent;
  bottom: -25px;
  position: absolute;
  left: 15px;

  &::before {
    border-right: 30px solid transparent;
    border-top: 27px solid #85cbcf;
    bottom: -5px;
    content: "";
    position: absolute;
    left: 2px;
  }
  &::after {
    border-right: 21px solid transparent;
    border-top: 21px solid #fff;
    bottom: 4px;
    content: "";
    position: absolute;
    left: 6px;
  }
}

.leftLine {
  border-top: 3px solid #85cbcf;
  position: absolute;

  &:before {
    content: "";
    width: 18px;
    height: 18px;
    background: rgba(255, 255, 255, 0.5);
    border-style: solid;
    border-width: 3px;
    border-color: #e6b3ae;
    border-radius: 999px;
    position: absolute;
    top: -10px;
    left: -18px;
  }

  &:after {
    right: 0;
  }
}

.rightLine {
  border-top: 3px solid #85cbcf;
  position: absolute;

  &:before {
    content: "";
    width: 18px;
    height: 18px;
    background: rgba(255, 255, 255, 0.5);
    border-style: solid;
    border-width: 3px;
    border-color: #85cbcf;
    border-radius: 999px;
    position: absolute;
    top: -10px;
    right: -18px;
  }

  &:after {
    left: 0;
  }
}

//FIX (consider dynamic positioning of arrows)
.vp-div {
  > div:nth-child(even) {
    h3 {
      margin-left: auto;
    }
    .vp_arrow {
      right: 50%;
      top: 54%;
    }
  }
  > div:nth-child(odd) {
    .vp_arrow {
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);

      left: 65%;
      top: 82%;
    }
  }
}
