.image-container {
  max-width: 90%;
  min-width: 210px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 15px 15px 0 15px;
  box-shadow: 0px 0px 15px 0px #e9e9e9;

  img {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
  }
}

.portrait-container {
  max-width: 500px;
  max-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 15px 15px 0 15px;
  box-shadow: 0px 0px 15px 0px #e9e9e9;

  img {
    height: 80vh;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.caption-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.photography {
  max-height: 700px;
  display: block;
  margin: 1rem auto 1rem auto;
}

.post {
  //project title
  h1 {
    font-size: 2rem;
  }

  //section header
  h2 {
    font-size: 2rem;
  }

  //section header
  h3 {
    font-size: 1.5rem;
  }

  //author quote
  h4 {
    font-size: 1.3rem;
  }

  //spacing between sections
  h5 {
    font-size: 1.15rem;
  }

  //rest of the text
  p {
    font-size: 1.2rem;
  }

  .caption {
    font-size: 0.85rem;
    text-align: center;
    margin-top: -1rem;
    padding-bottom: 1rem;
  }

  //quote formatting

  .quote-div {
    position: relative;
    max-width: 500px;
    display: block;
    margin: 5% auto 10% auto;
  }

  .mb-style-2 {
    blockquote {
      padding-top: 150px;

      p {
        background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
        box-shadow: 0 -6px 0 rgba(72, 149, 234, 0.2);
        color: rgba(72, 149, 234, 0.8);
        display: inline;
        font-family: Georgia, serif;
        font-style: italic;
        font-size: 1.6rem;
        line-height: 2.8rem;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
      }

      &:after {
        background: none repeat scroll 0 0 rgba(72, 149, 234, 0.8);
        border-radius: 50% 50% 50% 50%;
        color: rgba(255, 255, 255, 0.5);
        content: "❞";
        font-family: "icons";
        font-size: 70px;
        height: 110px;
        width: 110px;
        left: 50%;
        line-height: 130px;
        margin-left: -65px;
        position: absolute;
        text-align: center;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
        top: 0;
      }

      &:before {
        border-left: 5px solid rgba(72, 149, 234, 0.1);
        border-radius: 50% 50% 50% 50%;
        content: "";
        height: 105%;
        left: -40px;
        position: absolute;
        top: 0;
        width: 20%;
        z-index: -1;
      }
    }
  }
}
