.footer {
  height: 20vh;
  text-align: center;
  margin-top: 9vh;
  margin-bottom: 9vh;
}

.icon-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 3vh;
}

.icon-div > a > img {
  align-self: center;
  border-radius: 50%;
  width: 3vw;
  margin: 0 1vw;
}
