.posts {
  list-style-type: none;
  margin: 0;
}

.post {
  margin-bottom: 5vh;
  max-height: 100vh;

  .blob {
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Background image doesn't tile */
    background-repeat: no-repeat;

    /* This is what makes the background image rescale based
     on the container's size */
    background-size: cover;
  }

  .project-mockup {
    max-width: 40%;
    max-height: 100%;
    padding: 50px 0 50px 0;
  }

  a {
    position: relative;
    top: 0;
    transition: transform 0.8s ease, -webkit-transform 0.8s ease,
      box-shadow 0.8s ease;
    background-color: #f4f4f4;
    background-position-y: 70%;
    color: black;
    display: block;
    padding: 5vh 5vh 5vh 5vh;
    box-shadow: 0px 10px 15px 0px #e0e0e0;
    border-radius: 16px;
    text-decoration: none;
  }

  a:hover {
    transform: translate(0, -12px);
    box-shadow: 0px 12px 17px 0px #d1d1d1;
  }

  h2 {
    margin-bottom: 1vh;
  }

  h4 {
    margin-bottom: 2vh;
    text-transform: uppercase;
  }

  p {
    color: #777777;
  }
}
