.project-section {
  margin: 10rem 0 10rem 0;
  @media (max-width: 600px) {
    margin: 5rem 0 5rem 0;
  }
}

.posts {
  list-style-type: none;
  margin: 0;
}

.post {
  // max-height: 100vh;
  margin-bottom: 2rem;

  &:nth-child(2) {
    @media (max-width: 600px) {
      div:first-child {
        order: 1;
        text-align: left;
      }
    }
  }

  .post-column {
    width: 48%;
    @media (max-width: 600px) {
      width: 100% !important;
      margin: 0 0 20px 0;
    }
  }

  .blob {
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Background image doesn't tile */
    background-repeat: no-repeat;

    /* This is what makes the background image rescale based
     on the container's size */
    background-size: cover;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 600px) {
      flex-direction: column;
    }

    img {
      min-height: 30rem;
      -o-object-fit: contain;
      object-fit: contain;

      @media (max-width: 600px) {
        min-height: 10rem;
      }
    }
  }

  a {
    position: relative;
    top: 0;
    transition: transform 0.8s ease, -webkit-transform 0.8s ease,
      box-shadow 0.8s ease;
    background-color: #f4f4f4;
    background-position-y: 70%;
    color: black;
    display: block;
    padding: 5%;
    @media (max-width: 600px) {
      padding: 8% 5% 10% 5%;
    }
    box-shadow: 0px 10px 15px 0px #e0e0e0;
    border-radius: 16px;
    text-decoration: none;

    &:hover {
      transform: translate(0, -12px);
      box-shadow: 0px 12px 17px 0px #d1d1d1;
    }
  }

  h2 {
    margin-bottom: 1vh;
  }

  h4 {
    margin-bottom: 2vh;
    text-transform: uppercase;
  }

  p {
    color: #777777;
    margin-bottom: 0 !important;
  }
}
